<a class="" href="{{ .RelPermalink }}">

  <div class="card">
    <div class="card-image">
      {{ with .Params.picture }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
      {{ $pic := $imageResource.Fill "600x400"}}
      <img src="{{ $pic.Permalink }}" alt="image {{$.Title }}">
      {{ end }}
    </div>
    <div class="card-content">
      <h4 class="title is-5">{{ .Title }}</h4>
      <div class="content">
        {{ with .Params.event_date }}
        <div>
          <span class="has-text-weight-bold">Date : </span> {{ . }}
        </div>
      {{ end}}
      </div>
    </div>
  </div>
</a>