$primary: $green !default;
$primary-light: lighten($primary, 5%) !default;
$primary-dark: $dark-green !default;
$primary-darker: darken($dark-green, 5%) !default;
$secondary: $red !default;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;
$text: $grey-darker !default;

// Invert colors

$orange-invert: findColorInvert($orange) !default;
$yellow-invert: findColorInvert($yellow) !default;
$green-invert: findColorInvert($green) !default;
$turquoise-invert: findColorInvert($turquoise) !default;
$cyan-invert: findColorInvert($cyan) !default;
$blue-invert: findColorInvert($blue) !default;
$purple-invert: findColorInvert($purple) !default;
$red-invert: $text !default;

$primary-invert: $green-invert !default;
$secondary-invert: $red-invert !default;
$info-invert: $cyan-invert !default;
$success-invert: $green-invert !default;
$warning-invert: $yellow-invert !default;
$danger-invert: $red-invert !default;
$light-invert: $dark !default;
$dark-invert: $light !default;

// Link colors

$link: $primary-dark !default;
$link-invert: $primary-invert !default;
$link-visited: $primary-darker !default;

$link-hover: $primary-darker !default;
$link-hover-border: $primary !default;

$link-focus: $primary-darker !default;
$link-focus-border: $primary !default;

$link-active: $primary-darker !default;
$link-active-border: $primary-darker !default;

// Typography

$family-primary: $family-sans-serif !default;
$family-secondary: $family-sans-serif !default;
$family-code: $family-monospace !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

// Lists and maps

$custom-colors: (
  "secondary": (
    $secondary,
    $secondary-invert
  )
);

$custom-shades: (
  "secondary": $secondary,
);

$colors: mergeColorMaps(
  (
    "white": (
      $white,
      $black
    ),
    "black": (
      $black,
      $white
    ),
    "light": (
      $light,
      $light-invert
    ),
    "dark": (
      $dark,
      $dark-invert
    ),
    "primary": (
      $primary,
      $primary-invert
    ),
    "link": (
      $link,
      $link-invert
    ),
    "info": (
      $info,
      $info-invert
    ),
    "success": (
      $success,
      $success-invert
    ),
    "warning": (
      $warning,
      $warning-invert
    ),
    "danger": (
      $danger,
      $danger-invert
    )
  ),
  $custom-colors
) !default;
$shades: mergeColorMaps(
  (
    "black-bis": $black-bis,
    "black-ter": $black-ter,
    "grey-darker": $grey-darker,
    "grey-dark": $grey-dark,
    "grey": $grey,
    "grey-light": $grey-light,
    "grey-lighter": $grey-lighter,
    "white-ter": $white-ter,
    "white-bis": $white-bis
  ),
  $custom-shades
) !default;
