{{ define "main" }}
<main aria-role="main">
  <!-- <section class="hero is-light is-bold is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-spaced">
          {{ .Title }}
        </h1>
      </div>
    </div>
  </section> -->
  <section class="section">
    <div class="container">
      <!-- Actualites -->
      <div class="has-text-centered title my-5">
        <h2>Nos dernières actualités</h2>
      </div>
      <div class="columns">
        {{ $actualites := where .Site.RegularPages "Type" "actualite" }}
        {{ range $index, $element := first 3 ( $actualites ) }}
        <div class="column is-4">
          {{ .Render "card"}}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      {{- range first 10 .Data.Pages }}
        {{ .Render "card"}}
      {{- end }}
    </div>
  </section>
</main>
{{ end }}