<footer class="footer is-dark">
  <div class="container">
    <div class="columns menu-columns is-multiline">
      <div class="column is-one-third">
        <ul class="">
          {{ range .Site.Menus.footer }}
          {{ $text := print .Name | safeHTML }}
          <li>
            <a class="" href="{{ .URL }}">{{ $text }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="column is-one-third"></div>
      <div class="column is-one-third">
        <h4 class="title is-5">Contact</h4>
        <p>
          {{ with .Site.Data.global.nom_organisation }} 
            {{.}}
            <br>
          {{ end }}
          {{ with .Site.Data.global.adresse_organisation }}
            {{.}}
            <br>
          {{ end }}
          {{ with .Site.Data.global.ville_organisation }}
            {{.}}
          {{ end }}
        </p>
        <p>
          {{ with .Site.Data.global.email_organisation }}
          <a href="mailto:{{ . }}">{{ . }}</a>
          {{ end }}

          {{ with .Site.Data.global.telephone_organisation }}
          <br>
          <a href="tel:{{ . }}">{{ . }}</a>
          {{ end }}
          <br>
        </p>
        <p class="mt-2">
          {{ with .Site.Data.global.lien_newsletter }}
          <a href="{{ . }}" target="_blank">S'inscrire à la newsletter</a>
          {{ end }}
        </p>
      </div>

    </div>
  </div>
</footer>