<header class="header">
  <nav class="navbar is-transparent is-spaced">
    <div class="container">
      <div class="navbar-brand brand-title">
        {{ $logo := resources.Get "images/logo.png" }}
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <img class="" src="{{ $logo.Permalink }}"
            alt="logo murmure des forêts">
        </a>
        {{ $name := resources.Get "images/name.png" }}
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          <img class="" src="{{ $name.Permalink }}"
            alt="name murmure des forêts">
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          {{ $current := . }}
          {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Page $current) }}
            {{ $text := print .Name | safeHTML }}
            <a class="navbar-item {{ if $active }}active{{ end }}" href="{{ .URL }}">{{ $text }}</a>
          {{ end }}
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-primary" href="https://lists.riseup.net/www/subscribe/murmuredesforets" target="_blank">Recevez nos infos</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>